<div class="column is-half">
<article class="media box">
<figure class="media-left">
<p class="image is-64x64">
 <img src="https://bulma.io/images/placeholders/64x64.png">
</p>
</figure>
<div class="media-content">
   <%= render 'tweets/form' %>
</div>
</article>

<% @tweets.each do |t| %>
<div class="box">
 <article class="media">
   <div class="media-left">
    <figure class="image is-64X64">
     <img src="https://bulma.io/images/placeholders/64x64.png">
     </figure>
   </div>
   < class="media-content">
      <div class="content">
      <strong> james tucker </strong> </br>
      <small> @web_india </small> </br>
      <p><%= t.tweet %></p>
      </div>
      <nav class="level1">
      <div class="level-left is-mobile">
      <%= link_to @tweet, class: "level-item" do %>
      <span class="icon"><i class="fa fa-link" aria-hidden="true"></i> </span>
      <%end%>
      <%= link_to edit_tweet_path(@tweets), class: "level-item" do %>
      <span class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i></span>
      <% end %>
      <%= link_to @tweet, method: :delete, data: {confirm: "are you sure ?"} do %>
      <span class="icon" ><i class="fa fa-trash-o" aria-hidden='true'></i></span>
      <% end %>
      </div>
      </nav>
      </div>
 </article>

<% end %>
</div>